<div class="comments">
    {{#each this}}
    <section class="comment card">
        <div class="comment-card-header">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="card-body">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>