<form class="login-form card">
    <div>
        <label for="email-login" class="form-label input-card-header">Email:</label>
        <input type="text" id="email-login" class="form-input"/>
    </div>
    <div>
        <label for="password-login" class="form-label input-card-header">Password:</label>
        <input type="password" id="password-login" class="form-input" />
    </div>
    <div>
        <button type="submit" class="btn">Login</button>
    </div>
</form>

<form class="signup-form card">
     <div>
        <label for="username-signup" class="form-label input-card-header">Username:</label>
        <input type="text" id="username-signup" class="form-input"/>
    </div>
    <div>
        <label for="email-signup" class="form-label input-card-header">Email:</label>
        <input type="text" id="email-signup" class="form-input"/>
    </div>
    <div>
        <label for="password-signup" class="form-label input-card-header">Password:</label>
        <input type="password" id="password-signup" class="form-input "/>
    </div>
    <div>
        <button type="submit" class="btn">Submit</button>
    </div>
</form>
<script src="/javascript/login.js"></script>